{
  presets: [
    ['env', {targets: {
      node: true,
      browsers: [
        'last 2 chrome versions',
        'last 2 ff versions',
        'last 2 edge versions',
        'last 2 safari versions',
        'last 2 and_ff versions',
        'last 2 and_chr versions',
        'last 2 ios versions',
      ],
    }}],
    'stage-3',
  ],
  plugins: [
    'transform-react-display-name',
    'transform-react-inline-elements',
    'transform-react-jsx',
    'react-hot-loader/babel',
  ],
  env: {
    dev: [
      'transform-react-jsx-self',
    ], prod: [
      'transform-react-constant-elements',
    ],
  },
}
