html {
  display: flex;
  height: 100%;
}

body {
  display: flex;
  flex-grow: 1;
  background-color: wheat;
}

map {
  flex-grow: 1;
  background-image: repeating-linear-gradient(150deg, white, gray 50px, white 100px);
}
